.menu{
    position: absolute;
    top: 50px;
    left: 100px;
    z-index: 1000;
    &__wrapper{
        display: flex;
        align-items: center;
    }
    &__title{
        margin-left: 10px;
        font-size: 27px;
        letter-spacing: 1px;
    }
    .logo{
        width: 30px;
    }
}