.text{
    &_fz170px{
        font-size: 170px;
        line-height: 150px;
    }
    &_fz25px{
        font-size: 25px;
        letter-spacing: 1px;
        line-height: 31px;
    }
    span{
        font-weight: bold;
    }
}